*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(0.25turn, #3f87a6, #99de64, #f69d3c);
}

.mainconatiner{
    height: 400px;
    width: 500px;
    background-color: #fff;
    margin-left: 500px;
    margin-top: 100px;
    border-radius: 10px;
}
h2{
    padding: 50px 0px;
    padding-left: 30px;
    font-size: 40px;
}
.inputsection{
    margin-left: 20px;
}
input{
  
    padding: 10px;
    width: 300px;
    border-radius: 15px;  
    
}
button{
    padding: 10px;
    width: 100px;
    background-color: #1f6f07;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
::placeholder{
    padding-left: 10px;
    color: #388a12;
    font-weight: 900;
}

.show{
    margin-left: 200px;
    margin-bottom: 60px;
    font-size: 45px;
    font-weight: bold;
    color: #ff0000;
}
.reset{
   margin-top: 50px;
   margin-left: 170px;
   padding: 10px 0px 10px 50px;
    width: 100px;
    background-color: #c92222;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}